ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(86, 143, 153);
}

li {
    display: inline;
    float: left;
    text-decoration: none;
    margin-right: 5%;
}

.aa {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li aa:hover {
    background-color: #111;
}

#logout{

}